@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #151515;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
